.submit {
    background-color: black;
}
.button:hover {
    background-color: azure;
    color: black;
}

.moreOptionsDropdown button {
    background-color: black;
}

.moreOptionsDropdown button:hover {
    background-color: gray;
}